@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.why {
    margin: 10rem 0;
    display: flex;
    justify-content: center;
    text-align: end;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    background-color: #03181D;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
    width: 25%;
}

.card-why {
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
    top: 2rem;
}

li {
    list-style: none;
    display: flex;
    justify-content: initial;
    padding-left: 1rem;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card-description {
    font-family: Poppins, 'sans-serif';
    font-size: .8rem;
    color: rgb(155, 155, 155);
    margin-bottom: 3rem;
}