.why {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
}

.card {
    position: relative;
    background-color: #03181D;
    border-radius: 2rem;
    padding: 2rem;
    width: 25%;
}
.card span {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 2.5rem;
}

.card-why {
    background-color: inherit;
    font-size: 3rem;
    font-weight: bold;
}

li {
    list-style: none;
    display: flex;
    justify-content: initial;
    padding-left: 1rem;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card-description {
    color: lightgray;
    margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
    }   
}