.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-left: 10rem;
}

.main-text {
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    text-align: center;
}

.subtitle {
    margin-top: 3rem;
    font-size: 1.2rem;
}

.functional{
    background: rgb(249,199,79);
    background: linear-gradient(90deg, rgba(249,199,79,1), rgba(243,114,44,1));
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    font-size: 1.2rem;

}

@media screen and (max-width: 768px) {
    .description {
        padding-left: 3rem;
        margin-right: 3rem;
    }

    .main-text {
        font-size: 1rem;
    }

    .subtitle, .functional{
        font-size: .8rem;
    }

    .banner img {
        width: 60%;
        margin-left: 2rem;
    }
    
}