.how-it-works {
  width: 100%;
  margin: 5rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-it-works h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.terminal {
  background-color: #1e1e1e;
  border-radius: 0.5rem;
  padding: 1.5rem;
  width: 80%;
  max-width: 800px;
  text-align: left;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.terminal-header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  padding: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.terminal-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 6px;
}

.terminal-button.red {
  background-color: #ff5f56;
}

.terminal-button.yellow {
  background-color: #ffbd2e;
}

.terminal-button.green {
  background-color: #27c93f;
}

.terminal-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: monospace;
  color: white;
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

.command-line {
  margin: 0;
}
.prompt {
  margin: 0;
  display: inline-block;
  color: #64dd17;
  margin-right: 1rem;
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s ease-out forwards;
  width: 0;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@media screen and (max-width: 768px) {  
  .terminal {
    padding: 1rem;
    width: 90%;
  }
  .terminal-content {
    font-size: .6rem;
  }
  
  .how-it-works h2 {
    font-size: 2.5rem;
  }
}
